
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
}


header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    text-decoration: underline;
}


main {
    padding: 20px;
}


.recipe-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.recipe-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    position: relative;
}

.recipe-card img {
    max-width: 100%;
    border-radius: 8px;
}

.recipe-card h2 {
    font-size: 1.5rem;
    margin-top: 10px;
}

.recipe-card p {
    margin: 10px 0;
    font-size: 1rem;
    color: #555;
}

.perfil-container {
    height: 250px;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-height: 100vh;
}

.sidenav {
    border-right: 1px solid rgb(186, 184, 184);
    width: 400px;
}

.contact-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.main-content .header {
    height: 240px;
    padding: 5px;
    padding-top: 30px;
    display: flex ;
    flex-direction: column;
    justify-content: space-between;
}

p {
    color: rgb(123 123 123);
}

section {
    margin-bottom: 40px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

section h2 { 
    text-decoration: underline;
    text-transform: uppercase;
}

h1 {
    text-transform: uppercase;
}

li {
    margin-bottom: 20px;
}