
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
}


header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    text-decoration: underline;
}


main {
    padding: 20px;
}


.recipe-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.recipe-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    position: relative;
}

.recipe-card img {
    max-width: 100%;
    border-radius: 8px;
}

.recipe-card h2 {
    font-size: 1.5rem;
    margin-top: 10px;
}

.recipe-card p {
    margin: 10px 0;
    font-size: 1rem;
    color: #555;
}

.favorite-btn {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.favorite-btn:hover {
    background-color: #e55347;
}


.search-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-top: 40px;
}

.search-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.search-section form {
    display: flex;
    flex-direction: column;
}

.search-section label {
    font-size: 1rem;
    margin-bottom: 5px;
}

.search-section input {
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-section button {
    background-color: #33cc33;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.search-section button:hover {
    background-color: #28a328;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
